@using Shop.Models
@model Checkout

@{
    ViewBag.Title = "Index";
}

<h2>Checkout</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BasketItem.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasketItem.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasketItem.Quantity)
        </th>
        <th>
            Total Price
        </th>
        <th></th>
    </tr>

    @foreach (BasketItem item in Model.BasketItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @item.GetTotalPrice()
            </td>
        </tr>
    }

</table>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Discount.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount.Percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount.CanConjunc)
        </th>
        <th></th>
    </tr>
    <tr>
        <th colspan="4">Used Discounts</th>
    </tr>

    @foreach (Discount item in ViewBag.UsedDiscounts)
    {
        using (Html.BeginForm("GetById", "Checkout", new { id = item.IdDiscount, actionType = "Remove" }, FormMethod.Post))
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanConjunc)
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Remove Discount" class="btn btn-default" />
                        </div>
                    </div>

                </td>
            </tr>
        }
    }

    <tr>
        <th colspan="4">Discounts Left</th>
    </tr>


    @foreach (Discount item in Model.Discounts)
    {
        using (Html.BeginForm("GetById", "Checkout", new { id = item.IdDiscount, actionType = "Add" }, FormMethod.Post))
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanConjunc)
                </td>

                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Use Discount" class="btn btn-default" />
                        </div>
                    </div>

                </td>
            </tr>
        }
    }
</table>


<table class="table">
    <tr>
        <th>
            Total Price
        </th>

    </tr>
    <tr>
        <td>
            @Model.GetTotalPrice()
        </td>

    </tr>


</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Adress)
        </td>
        <td>
            @Html.DisplayFor(model => model.CardNumber)
        </td>
    </tr>


</table>

